* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: verdana;
}

header {
  background-color: black;
  padding: 20px;
}

header h1 {
  color: white;
  text-align:center;
  font-size: 2rm;
}

.cover {
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('img/portada.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.cover__text {
  margin: 100px 0;
  width: 500px;
}

.cover__text  p {
  color: white;
  font-family: arial;
  font-size: 1.6em;
}

section {
  padding: 20px 80px;
}

.intro p {
  font-size: 20px;
}

.seccion-mascotas {
  box-sizing: border-box;
  display: inline-block;
  border: 0;
  width: 50%;
  vertical-align: middle;
}

.mascotas__photo,
.mascotas__info {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.mascotas__photo img {
  width: 100%;
}

.mascotas__info {
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
}

.mascotas__title {
  color: black;
  font-size: 2.5rem;
  font-family: verdana;
}

.mascotas__text {
  color: black;
  text-align: justify;
  font-size: 1.2rem;
}

.gatos {
  background-color: lightblue;
}

.perros {
  background-image: linear-gradient(yellow, brown);
}

footer {
  background-color: black;
  text-align:center;
  padding: 40px 0;
}


.caja {
  background-color: green;
  display: inline-block;
  height: 300px;
  width: 300px;
}
